<li>
	<div class="row">
		<div class="col-sm-9">{{burger_name}}</div>
		<div class="col-sm-3">
			<button class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}"><i class="fa fa-cutlery" aria-hidden="true"></i> Devour it!</button>
		</div>
	</div>
	<hr>
</li>